@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');


body{
    background-color: rgb(0, 0, 0);
    /* border: 5px solid gold; */
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    height: 90vh;
    width: 99.5%;
    margin: 0;
    font-family: "Ingrid Darling", serif;
}

h1{
    margin-top: 1%;
}

h1, h2{
    color: white;
}

h1{
    font-size: 90px;
}

h2{
    font-size: 40px;
    margin-top: 0;
}

.choices{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-evenly;
    height: 900px;
    align-items: center;
}

.choiceOne, .choiceTwo, .choiceThree{
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    transition: transform 0.7s;
    border: solid 5px black;
    height: fit-content;
    
}

.choiceOne > img, .choiceTwo  > img, .choiceThree  > img{
    height: 300px;
    
    
}




.choiceOne:has(> img:hover), .choiceTwo:has(> img:hover),.choiceThree:has(> img:hover){
    transform: scale(1.066);
    cursor: pointer;
    transition: transform 0.7s;
}








/* ------------------------------------------ */


/* .choiceOne, .choiceTwo, .choiceThree {
    
    height: fit-content;
    
    border-left: solid 5px rgb(111, 19, 19);
    position: relative;
    animation: changeBorders 5s linear;
    
} */


.choiceOne.enter, .choiceTwo.enter,.choiceThree.enter{
    height: fit-content;
    border-left: solid 5px rgb(111, 19, 19);
    position: relative;
    animation: changeBorders 3s linear;
    animation-fill-mode: forwards;
}


  @keyframes changeBorders {
    0% {
      border: solid 5px black;
      border-left: solid 5px rgb(111, 19, 19);
    }
    25% {
      border: solid 5px black;
      border-left: solid 5px rgb(111, 19, 19);
    }
    25.02% {
      border: solid 5px black;
      border-left: solid 5px rgb(111, 19, 19);
      border-bottom: solid 5px rgb(111, 19, 19);
    }
    50% {
      border: solid 5px black;
      border-left: solid 5px rgb(10, 117, 10);
      border-bottom: solid 5px rgb(10, 117, 10);
    }
    50.02% {
      border: solid 5px black;
      border-left: solid 5px rgb(10, 117, 10);
      border-bottom: solid 5px rgb(10, 117, 10);
      border-right: solid 5px rgb(10, 117, 10);
    }
    75% {
      border: solid 5px black;
      border-left: solid 5px rgb(32, 38, 159);
      border-bottom: solid 5px rgb(32, 38, 159);
      border-right: solid 5px rgb(32, 38, 159);
    }
    75.02% {
      border: solid 5px rgb(32, 38, 159);
    }
    100% {
        border: solid 5px rgb(32, 38, 159);
    }
  }

/* .choiceOne::after, .choiceTwo::after , .choiceThree::after  {
    width: 5px;
    background-color: rgb(0, 0, 0);
    height: 0px;
    position: absolute;
    bottom: 0;
    left: -5px;
    z-index: 1;
    animation: movedown 5s linear;
    animation-fill-mode: forwards;
    content: '';
    display: inline-block;
  } */

  .choiceOne.enter:after, .choiceTwo.enter:after,.choiceThree.enter:after{
    width: 5px;
    background-color: rgb(0, 0, 0);
    height: 0px;
    position: absolute;
    bottom: 0;
    left: -5px;
    z-index: 1;
    animation: movedown 3s linear;
    animation-fill-mode: forwards;
    content: '';
    display: inline-block;
  }




  @keyframes movedown {
    0% {
      height: calc(100% + 10px);
      width: 5px;
      bottom: -5px;
      left: -5px;
    }
    25% {
      height: 5px;
      width: 5px;
      bottom: -5px;
      left: -5px;
    }
    25.01% {
      height: 5px;
      width: calc(100% + 10px);
      bottom: -5px;
      left: -5px;
    }
    50% {
      height: 5px;
      width: 0%;
      left: 100%;
      bottom: -5px;
    }
    50.01% {
      height: calc(100% + 10px);
      width: 5px;
      left: 100%;
      bottom: -5px;
    }
    75% {
      height: 0;
      width: 5px;
      left: 100%;
      bottom: 100%;
    }
    75.01% {
      height: 5px;
      width: calc(100% + 10px);
      left: 0%;
      bottom: 100%;
    }
    99.01% {
      height: 5px;
      width: 0;
      left: 0;
      bottom: 100%;
    }
  }



  .choiceOne.left, .choiceTwo.left,.choiceThree.left{
    height: fit-content;
    border-left: solid 5px rgb(111, 19, 19);
    position: relative;
    animation: changeBordersreverse 3s linear;
    animation-fill-mode: forwards;
    
}



@keyframes changeBordersreverse {
    0% {
      
      border: solid 5px rgb(32, 38, 159);
    }
    25% {
        border: solid 5px rgb(32, 38, 159);
    }
    25.02% {
        border: solid 5px black;
      border-left: solid 5px rgb(32, 38, 159);
      border-bottom: solid 5px rgb(32, 38, 159);
      border-right: solid 5px rgb(32, 38, 159);
      
    }
    50% {
        border: solid 5px black;
      border-left: solid 5px rgb(10, 117, 10);
      border-bottom: solid 5px rgb(10, 117, 10);
      border-right: solid 5px rgb(10, 117, 10);
      
    }
    50.02% {
        border: solid 5px black;
        border-left: solid 5px rgb(10, 117, 10);
        border-bottom: solid 5px rgb(10, 117, 10);
    }
    75% {
        border: solid 5px black;
        border-left: solid 5px rgb(111, 19, 19);
        border-bottom: solid 5px rgb(111, 19, 19);
    }
    75.02% {
      
      border: solid 5px black;
      border-left: solid 5px rgb(111, 19, 19);
    }
    100% {
        border: solid 5px black;
    }
  }













.choiceOne.left:after, .choiceTwo.left::after,.choiceThree.left::after{
    width: 5px;
    background-color: rgb(0, 0, 0);
    height: 0px;
    position: absolute;
    bottom: 0;
    left: -5px;
    z-index: 1;
    animation: movedownreverse 3s linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    content: '';
    display: inline-block;
  }






  @keyframes movedownreverse {
    0% {
      height: calc(100% + 10px);
      width: 5px;
      bottom: -5px;
      left: -5px;
    }
    25% {
      height: 5px;
      width: 5px;
      bottom: -5px;
      left: -5px;
    }
    25.01% {
      height: 5px;
      width: calc(100% + 10px);
      bottom: -5px;
      left: -5px;
    }
    50% {
      height: 5px;
      width: 0%;
      left: 100%;
      bottom: -5px;
    }
    50.01% {
      height: calc(100% + 10px);
      width: 5px;
      left: 100%;
      bottom: -5px;
    }
    75% {
      height: 0;
      width: 5px;
      left: 100%;
      bottom: 100%;
    }
    75.01% {
      height: 5px;
      width: calc(100% + 10px);
      left: 0%;
      bottom: 100%;
    }
    99.01% {
      height: 5px;
      width: 0;
      left: 0;
      bottom: 100%;
    }
  }





main{
    background-repeat: no-repeat;
}


@media print{
  body{
    transform: rotate(-90deg);
    position: absolute;
    top: 0px;
    left: 250px
  }

  .options{
    display: none !important;
  }

}



.options{
  position: absolute;
  top: 0;
  right: 300px;
  display: flex;
  flex-flow: column;
  height: 200px;
  justify-content: space-evenly;
}

.options > button{
  border-radius: 30px;
  border: none;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.options > button > svg{
  width: 60px;
  height: 60px;
  
}

