@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');

*{
  
  font-family: "Ingrid Darling", serif;
  font-weight: normal;
}

body{
  
  font-family: "Ingrid Darling", serif;

}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-box{
  width: 1076px;
  height: 826px;
  border: 3px gold solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-box{
  width: 1044px;
  height: 794px;
  border: 3px black solid;
}





.text > h2{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 128px;
}

.text > h2:first-of-type{
  margin-left: 65px;
}

.text > h2:last-of-type{
  margin-left: 240px;
  position: relative;
  color: white;
  z-index: 5;
}

.text > img{
  position: absolute;
  top: 193px;
  z-index: 1;
  left: 140px;
}



.info > img:first-of-type{
  margin-top: 20px;
  margin-left: 342px;
}

.info > p:first-of-type{
  font-size: 55px;
  margin-top: 5px;
  margin-left: 392px;
}