@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');

*{
  
  font-family: "Ingrid Darling", serif;
  font-weight: normal;
}

body{
  
  font-family: "Ingrid Darling", serif;

}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.big-box{
  width: 1076px;
  height: 826px;
  border: 3px gold solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-box{
  width: 1044px;
  height: 794px;
  border: 3px black solid;
}





.text > h2{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 128px;
}

.text > h2:first-of-type{
  margin-left: 65px;
  color: black;
}


.text > h2:last-of-type{
  margin-left: 240px;
  position: relative;
  color: white;
  z-index: 5;
}

.text > img{
  position: absolute;
  top: 185px;
  z-index: 1;
  left: 140px;
}

.info{
  display: inline-flex;
  flex-flow: column;

}


.info > img:first-of-type{
  margin-top: 20px;
  margin-left: 342px;
}

.info > p:first-of-type{
  font-size: 55px;
  margin-top: 5px;
  margin-left: 392px;
  margin-bottom: 4px;
}

hr:first-of-type{
  width: 433px;
  border: 1.5px black solid;
  margin-left: 392px;
  
}

.info > input:first-of-type{
  border: none;
  font-size: 55px;
  width: 485px;
  text-align: center;
  margin-left: 365px;
  color: gold;
}

.info > img:nth-of-type(2){
  width: 501px;
  margin-top: 3px;
  margin-left: 356px;
}

.info > p:nth-of-type(2){
  font-size: 32px;
  width: 520px;
  text-align: center;
  margin-left: 360px;
  margin-top: 18px;
  margin-bottom: 10px;
}

.end{
  display: inline-flex;
  flex-flow: row;
  margin-top: 10px;
}

.collumnOne{
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 135px;
  margin-left: 342px;

}



.collumnOne > input:last-of-type{
  border: none;
  font-size: 36px;
  color: gold;
  text-align: center;
  width: 300px;
}

.collumnOne > p:last-of-type{
  margin: 0;
  font-size: 24px;
}

.collumnOne > hr{
  margin-top: 0;
  width: 125px;
  margin-left: 0;
}


.collumnTwo{
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 135px;
  margin-left: 285px;
}


.collumnTwo > p:first-of-type{
  border: none;
  font-size: 36px;
  color: gold;
  text-align: center;
  width: 200px;
  margin: 0;
}

.collumnTwo > hr{
  margin-top: 0;
  width: 125px;
  margin-left: 0;
}


.collumnTwo > p:last-of-type{
  margin: 0;
  font-size: 24px;
}

main > img:first-of-type{
  position: absolute;
  bottom: 0;
  left: 0;
}

main > img:last-of-type{
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(180deg);
}